@font-face {
  font-family: 'Cent';
  src: url('fonts/Cent.eot');
  src: url('fonts/Cent.eot?iefix') format('eot'),
       url('fonts/Cent.ttf') format('truetype');
}
body{
    position: relative;
}
#title{
    padding-top: 1em;
}
#munsell{
    padding: 1em;
}
#title h2{
    font-family: 'Cent';
    font-style: italic;
    font-weight: 700;
    font-size: 3em;
    
}
#divPickerHolder{
    height: auto;
    width: 100%;
}
#divPicker{
    width: 292px;
    border: 4px solid #333;
    border-radius: 4px;
    background: #333;
    margin: auto;
    z-index: 100;
    height: 368px;
}
#divPickerBG{
    height: 315px;
    float: left;
    position: relative;
}
#pickerBG{
    height: 100%;
    width: 255px;
    background-color: #ff0000;
}
#divPickerColor{
    position: relative;
    float: right;
}
#pickerColor{
    height: 360px;
}
.clear{
    clear: both;
}

#divPickerControls{
    width:275px;
    height: 40px;
}

#divPickerControls > .buttons{
    float: left;
}

#pointerBG{
    margin-top: -4px;
    margin-left: -4px;
    position: absolute;
    top: 0px;
    left: 255px;
    width: 8px;
    height: 8px;
    border-color: white;
    border-width: 2px; 
    border-style: solid;
    border-radius: 4px;
}

#pointerColor{
    margin-top: -3px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
    border-color: #eee;
    border-width: 2px; 
    border-style: solid;
}

#colorHash{
    display: inline-block;
    min-height: 2em;
    background-color: #fff;
    color: #444;
    padding: .3em;
    border-radius: 2px;
}
#colorHash:hover{
    cursor: pointer;
}
.buttons {
    padding: 0.5em 0.4em;
    margin: auto;
    color: white;
    height: 100%;
    position: relative;
}

.buttons > span{
    display: block;
}

.btn-default{
    background: #eee;
    margin-right: 0;
}
.divHash{
    padding: 0.7em 0.4em;
}
#colorHash{
    color: black;
    width: 5em;
    text-align: center;
}
.btn-default:hover{
    background: lightblue;
}

#colorSpot{
    margin-top: 2px;
    height: 30px;
    width: 90px;
    background: red;
    border:1px solid #ccc;
    display: block;
}

#values{
    color: #333;
    padding-bottom: 4em;
}
#values > div{
    color: #333;
}
/*
#values label{
    float: left;
}*/
#randomColors{
    padding: 1em 3em;
}
#randomColors div{
    margin-top: 1em;
}
.rand-col{
    height: 20px;
}
#repeat{
    font-size: 1.4em;
    display: inline-block;
    cursor: pointer;
}
#repeat:hover{
    color: #999;
}
#0{    background-color: teal; }
#1{    background-color: red; }
#2{    background-color: purple; }
#3{    background-color: yellow; }
#4{    background-color: brown; }
#5{    background-color: blueviolet; }
#6{    background-color: orange; }
#7{    background-color: rosybrown; }
#8{    background-color: darkseagreen; }
#9{    background-color: green; }

@media(min-width: 568px){
  #title{
    padding-top: 2em;
  }
  #values{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;  
  }
}

@media(min-width: 778px){
  #values{
    margin-left: 0;
    margin-right: 0;
  }
}

@media(min-width: 1200px){
  #divPicker{
    margin-top: -40px;
    margin-left: -20px;   
  }
  #randomColors{
    margin-left: 20px;
  }
}
